html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse; }

html, body {
  font-size: 20px;
  height: 100vh; }

/*
    Cleaner way of implemnting Media Queries
    @inclide BreakPoint('mobile-s') || @inclide BreakPoint(('mobile-s', 'mobile-m')) ||  @inclide BreakPoint(['mobile-s', 'mobile-m'])
*/
/*
    Test Mixin
*/
.fancy-box-shadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; }

/* Requites width: value */
.absolute-horizontal-center {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto; }

.cursor-pointer:hover {
  cursor: pointer; }

body {
  overflow: hidden; }

nav {
  display: flex;
  padding: 10px 15px;
  box-sizing: border-box;
  height: 75px; }
  nav .nav-item {
    font-family: Arial;
    line-height: 40px; }
    @media screen and (min-width: 1024px) and (orientation: landscape) {
      nav .nav-item {
        line-height: 55px; } }
    nav .nav-item.title {
      width: 90%;
      font-size: 28px;
      color: white; }
      @media screen and (min-width: 1024px) and (orientation: landscape) {
        nav .nav-item.title {
          font-size: 40px; } }
      @media screen and (max-width: 480px) and (orientation: portrait) {
        nav .nav-item.title {
          font-size: 20px; } }
    nav .nav-item.socials {
      display: flex;
      justify-content: right;
      width: 40%; }
      nav .nav-item.socials a {
        margin-left: 10px;
        width: 15vw;
        height: 15vw; }
        @media screen and (max-width: 812px) and (orientation: landscape) {
          nav .nav-item.socials a {
            width: 7vw;
            height: 7vw; } }
        @media screen and (min-width: 1024px) and (orientation: landscape) {
          nav .nav-item.socials a {
            width: 2.5vw;
            height: 2.5vw;
            margin-left: 20px; } }
        @media screen and (min-width: 720px) and (orientation: portrait) {
          nav .nav-item.socials a {
            width: 5vw;
            height: 5vw; } }
      nav .nav-item.socials img {
        width: 100%; }

#page {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(0deg, #282b5c 0%, #2444ba 100%);
  overflow: hidden; }
  #page #page-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: auto;
    width: 100%; }
    #page #page-content section {
      box-sizing: border-box; }
      #page #page-content section:first-of-type {
        height: calc(100vh - 60px); }
      #page #page-content section:not(:first-of-type) {
        height: 100vh; }

.contact-button {
  background-color: #F07D67;
  color: white;
  text-decoration: none;
  padding: 20px;
  border-radius: 30px;
  font-family: Arial;
  text-align: center; }

.card {
  background-color: red;
  border: 1px solid #d3d3d3;
  border-radius: 0px;
  overflow: hidden;
  margin: 15px; }
  .card .card-title {
    background-color: white;
    padding: 5px;
    font-family: Arial;
    font-size: 1.5rem;
    text-transform: capitalize; }
    .card .card-title:empty {
      display: none; }
  .card .card-content {
    background-color: white;
    font-family: Arial;
    padding: 10px; }

#landing-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

#welcome .wrapper #primary {
  display: flex;
  flex-direction: column;
  position: relative; }
  @media screen and (max-width: 812px) and (orientation: landscape) {
    #welcome .wrapper #primary {
      flex-direction: row-reverse; } }
  @media screen and (min-width: 1024px) and (orientation: landscape) {
    #welcome .wrapper #primary {
      flex-direction: row-reverse;
      padding-top: 80px; } }
  #welcome .wrapper #primary #info, #welcome .wrapper #primary #portrait {
    width: 100%; }
  #welcome .wrapper #primary #portrait img {
    display: block;
    width: 80%;
    background-color: black;
    margin: auto;
    border-radius: 50%; }
    @media screen and (min-width: 1024px) and (orientation: landscape) {
      #welcome .wrapper #primary #portrait img {
        width: 50%;
        margin: 0;
        margin-left: 30px; } }
    @media screen and (min-width: 720px) and (orientation: portrait) {
      #welcome .wrapper #primary #portrait img {
        width: 60%; } }
    @media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
      #welcome .wrapper #primary #portrait img {
        width: 50%; } }
    @media screen and (min-width: 768px) and (max-width: 1366px) and (orientation: landscape) {
      #welcome .wrapper #primary #portrait img {
        width: 80%; } }
    @media screen and (max-width: 812px) and (orientation: landscape) {
      #welcome .wrapper #primary #portrait img {
        width: 60%;
        float: left;
        margin-left: 30px; } }
  #welcome .wrapper #primary #info {
    position: relative;
    padding: 20px 0; }
    @media screen and (min-width: 1024px) and (orientation: landscape) {
      #welcome .wrapper #primary #info {
        margin-top: 40px; } }
    #welcome .wrapper #primary #info h1, #welcome .wrapper #primary #info h2 {
      text-align: center;
      font-family: Arial; }
      @media screen and (min-width: 1024px) and (orientation: landscape) {
        #welcome .wrapper #primary #info h1, #welcome .wrapper #primary #info h2 {
          text-align: right; } }
    #welcome .wrapper #primary #info h1 {
      -webkit-text-stroke: 1.5px white;
      color: rgba(0, 0, 0, 0);
      font-weight: bold;
      font-size: 56px; }
      @media (resolution: 3dppx) {
        #welcome .wrapper #primary #info h1 {
          font-size: 52px; } }
      @media screen and (min-width: 1024px) and (orientation: landscape) {
        #welcome .wrapper #primary #info h1 {
          font-size: 120px; } }
      @media screen and (min-width: 720px) and (orientation: portrait) {
        #welcome .wrapper #primary #info h1 {
          font-size: 120px; } }
      @media screen and (min-width: 768px) and (max-width: 1366px) and (orientation: landscape) {
        #welcome .wrapper #primary #info h1 {
          font-size: 76px;
          -webkit-text-stroke: 2px black; } }
      @media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
        #welcome .wrapper #primary #info h1 {
          font-size: 80px; } }
  @media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) and (resolution: 2dppx) {
    #welcome .wrapper #primary #info h1 {
      font-size: 100px; } }

      @media screen and (max-width: 812px) and (orientation: landscape) {
        #welcome .wrapper #primary #info h1 {
          font-size: 52px;
          text-align: right; } }
    #welcome .wrapper #primary #info h2 {
      font-size: 40px;
      color: white; }
      @media (resolution: 3dppx) {
        #welcome .wrapper #primary #info h2 {
          font-size: 38px; } }
      @media screen and (min-width: 1024px) and (orientation: landscape) {
        #welcome .wrapper #primary #info h2 {
          font-size: 80px; } }
      @media screen and (min-width: 720px) and (orientation: portrait) {
        #welcome .wrapper #primary #info h2 {
          font-size: 80px; } }
      @media screen and (min-width: 768px) and (max-width: 1366px) and (orientation: landscape) {
        #welcome .wrapper #primary #info h2 {
          font-size: 64px; } }
      @media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
        #welcome .wrapper #primary #info h2 {
          font-size: 60px; } }
  @media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) and (resolution: 2dppx) {
    #welcome .wrapper #primary #info h2 {
      font-size: 84px; } }

      @media screen and (max-width: 812px) and (orientation: landscape) {
        #welcome .wrapper #primary #info h2 {
          font-size: 38px;
          text-align: right; } }
    #welcome .wrapper #primary #info #primary-contact a {
      display: block;
      width: 50%;
      margin: 20px auto; }
      @media screen and (min-width: 1024px) and (orientation: landscape) {
        #welcome .wrapper #primary #info #primary-contact a {
          font-size: 40px;
          border-radius: 40px;
          margin-right: 10%;
          float: right;
          width: 30%; } }
      @media screen and (min-width: 720px) and (orientation: portrait) {
        #welcome .wrapper #primary #info #primary-contact a {
          font-size: 40px;
          border-radius: 40px;
          margin-right: 10%;
          float: right;
          width: 30%; } }
      @media screen and (min-width: 720px) and (orientation: portrait) {
        #welcome .wrapper #primary #info #primary-contact a {
          float: unset;
          margin: 20px auto; } }
      @media screen and (min-width: 768px) and (max-width: 1366px) and (orientation: landscape) {
        #welcome .wrapper #primary #info #primary-contact a {
          font-size: 36px;
          width: 60%; } }
      @media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
        #welcome .wrapper #primary #info #primary-contact a {
          font-size: 36px;
          width: 40%; } }
  @media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) and (resolution: 2dppx) {
    #welcome .wrapper #primary #info #primary-contact a {
      font-size: 40px; } }

      @media screen and (max-width: 812px) and (orientation: landscape) {
        #welcome .wrapper #primary #info #primary-contact a {
          font-size: 24px;
          padding: 15px 5px;
          width: 42%;
          float: right; } }
#welcome .wrapper #secondary #secondary-contact a {
  display: block;
  margin: auto;
  width: 40%; }
  @media screen and (min-width: 1024px) and (orientation: landscape) {
    #welcome .wrapper #secondary #secondary-contact a {
      display: none; } }
#welcome .wrapper #secondary #construction {
  margin-top: 60px;
  font-family: Arial;
  text-align: center;
  color: white; }
  @media screen and (min-width: 1024px) and (orientation: landscape) {
    #welcome .wrapper #secondary #construction {
      font-size: 40px; } }

#contact .wrapper {
  display: block;
  width: 90%;
  margin: 20px auto;
  border-radius: 20px;
  height: 100%; }
#contact #contact-details .contact-detail img {
  width: 25px; }
#contact #contact-details .contact-detail a {
  font-family: Arial;
  color: black;
  text-decoration: none; }

#prevwork .wrapper h1 {
  font-family: Arial;
  color: white; }

/*# sourceMappingURL=app.css.map */
